<%= form_for @new_snapshot, as: :snapshot, url: host_snapshots_path(@host), html: {class: ""} do |f| %>
<table class="<%= table_css_classes %>">
  <thead>
  <tr>
    <th class="col-md-1"><%= _('Snapshot') %></th>
    <th class="col-md-2"><%= _('Description') %></th>
    <th class="col-md-1"><%= _('Action') %></th>
  </tr>
  </thead>
  <tbody>
    <% if authorized_for(:controller => 'foreman_snapshot_management/snapshots', :action => :create) %>
      <tr>
        <td>
          <%= f.text_field :name, class: 'form-control' %>
        </td>
        <td>
          <%= f.text_field :description, class: 'form-control' %>
        </td>
        <td>
          <%= f.submit _('Create'), class: 'btn btn-success' %>
        </td>
      </tr>
    <% end %>
  <% @snapshots.each do |snapshot| %>
      <tr>
        <td>
          <% if authorized_for(:controller => 'foreman_snapshot_management/snapshots', :action => :edit) %>
            <%= edit_textfield snapshot, :name %>
          <% else %>
            <%= snapshot.name %>
          <% end %>
        </td>
        <td>
          <% if authorized_for(:controller => 'foreman_snapshot_management/snapshots', :action => :edit) %>
            <%= edit_textarea snapshot, :description %>
          <% else %>
            <%= snapshot.description %>
          <% end %>
        </td>
        <td>
          <%= action_buttons(
            display_link_if_authorized(_('Rollback'), hash_for_revert_host_snapshot_path(host_id: @host, id: snapshot.id), method: :put, class: 'btn btn-primary', data: {confirm: _("Are you sure to revert this Snapshot?")}),
            display_delete_if_authorized(hash_for_host_snapshot_path(host_id: @host, id: snapshot.id), data: {confirm: _("Are you sure to delete this Snapshot?")}),
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<script type="text/javascript">
//<![CDATA[
  $(document).ready(function() {
    $('.editable').editable({
      params: {
        authenticity_token: AUTH_TOKEN
      },
      error: function(response) {
        return $.parseJSON(response.responseText).errors;
      }
    });
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');
  });
//]]>
</script>
